.btn{
    
    padding: 10px 15px;
    color: rgb(19, 20, 20);
    font-size: 14px;
    box-shadow: 3px 3px 3px 0px rgba(108, 104, 104, 0.5);
    border: 0.5px solid rgb(250, 249, 251); 
    cursor: pointer;
    font-weight: 800px;
    border-radius: 6px; 
    margin: 15px auto; 
       
}
    
.btn:hover{
    color:rgb(17, 17, 18) ;
    background-color: rgb(109, 98, 115);
}

